.bd-navbar {
    top: 0;
    position: sticky;
    z-index: 1071;
    background-color: black;
}

#sidebarNav {
    padding-top: 4rem;
}

.sidebar-links {
    color: black;
    text-decoration: none;
}

.bd-content {
    padding: 0 3rem 0 3rem
}

.img-fluid {
    padding: 2rem;
}

.bd-content-title-container {
    padding-top: 5rem;
}

#footerText {
    bottom: 0;
    text-align: right;
    padding-right: 1rem;
}

@media (min-width: 1140px) {
    .bd-sidebar {
        position: sticky;
        height: calc(90vh - 4rem);
    }
}